* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

header {
  display: flex;
  align-items: center;
  height: 64px;
  background: linear-gradient(90deg, #72c6dd, #082c81);
  color: #ffffff;
  padding: 10px 10px;
}

header img {
  height: 100%;
}

header nav {
  display: flex;
  align-items: baseline;
}

header h2 {
  margin: 0.5em;
  margin-right: 1em;
}

header a,
header button {
  margin: 0.5em;
  padding: 0;
  color: #edfbff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  background: inherit;
}

header a:hover,
header a:focus,
header button:hover,
header button:focus {
  text-decoration: underline;
  color: #c9f3ff;
  cursor: grab;
}

main {
  display: flex;
  justify-content: center;
}

.p {
  display: flex;
  justify-content: center;
  margin-top: 0.2em;
}

.button-styled {
  padding: 0.4em;
  border: 1px solid black;
  background-color: hsl(190, 85%, 90%);
  border-radius: 8px;
  text-decoration: none;
  color: #222;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
}

.button-styled:hover,
.button-styled:focus {
  background-color: hsla(190, 90%, 95%);
  color: #555;
  cursor: grab;
}

.button-red {
  background-color: rgb(183, 33, 33);
  color: #eeeeee;
}

.button-red:hover,
.button-red:focus {
  background-color: rgb(132, 28, 28);
  color: #eeeeee;
  cursor: grab;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20vw;
}

form label {
  margin-top: 0.4em;
  text-align: left;
}

.modal input[type=text],
.modal textarea,
.modal input[type=number],
.modal input[type=password],
.card-studying input[type=text],
.card-studying textarea {
  display: inherit;
  width: 100%;
  min-height: 32px;
  border: 1px solid;
  padding: 0.4em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-size: inherit;
}

table {
  padding: 0;
  border: 0;
  margin: 16px auto;
  min-width: 100%;
  width: 50vw;
  border-collapse: collapse;
}

td,
th {
  margin: 0;
  padding: 0.2em;
  border: 0.1em solid;
}

.table-cell-center {
  text-align: center;
  align-content: center;
  justify-content: center;
}

.table-cell-center-form {
  border: 0.1em solid;
  text-align: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

.container {
  min-width: 80vw;
  width: 100%;
  max-width: 1600px;
  position: relative;
  border-bottom: 1px solid;
  display: flex;
  padding-top: 0.4em;
  padding-bottom: 1em;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
}

.hover-top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin-top: 0.2em;
}

.modal {
  max-width: 60vw;
  border: 1px solid;
  padding: 0.4em;
  background-color: #add5e0;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
}

.modal .buttons {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.card-type-chooser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 20vw;
  margin-top: 8px;
}

.card-type-chooser select {
  min-height: 2em;
  border: 1px solid;
  font-size: inherit;
  margin-top: 0.4em;
}

.card-property {
  padding: 0;
  border: 0;
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 0.8rem;
  justify-content: left;
  text-decoration: underline;
  font-weight: bold;
}

.card-value {
  padding: 0;
  border: 0;
  margin: 0;
  margin-bottom: 0.6em;
  justify-content: left;
  overflow-wrap: break-word;
  max-width: 50vw;
  width: 100%;
  box-sizing: border-box;
}

.card-value-last {
  margin-bottom: 0;
}

.table-cell-card-type {
  width: 8em;
}

.table-cell-card-number {
  text-align: center;
  justify-content: center;
  min-width: 1.5em;
  width: 1.5em;
  max-width: 2.5em;
}

.table-cell-card-button {
  min-width: 6.2em;
  width: 6.2em;
  max-width: 6.2em;
}

.table-cell-text {
  min-width: 5vw;
  max-width: 50vw;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.card-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.card-checkbox-check {
  width: 32px;
  height: 32px;
}

.card-colunas-box {
  margin: 0;
  padding: 0.2em;
  border: 0.1em solid;
}

.card-studying {
  min-width: 400px;
  max-width: 90vw;
  border: 1px solid;
  padding: 0.4em;
  background-color: #add5e0;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
}

.card-studying-text {
  display: flex;
  width: 100%;
  min-height: 32px;
  border: 1px solid;
  padding: 0.4em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-size: inherit;
  background-color: white;
}

.card-lista-item {
  display: flex;
  align-items: center;
  align-content: center;
}

.button-small {
  height: 28px;
  width: 28px;
  text-align: center;
}

.card-studying-paragrafos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: left;
}

.card-lista-item-buttons {
  background-color: white;
  width: 56px;
  text-align: center;
  padding: 0.1em;
  padding-top: 0.15em;
  border: 1px solid;
  margin-right: 0.2em;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
}

.lesson-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.lesson-heading>* {
  margin-right: 2px;
}